.pList{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .wrapper {
    max-width: 1400px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-auto-rows: 280px;
    grid-auto-flow: dense;
    grid-gap: 15px;
    width: 100%;
  }
  
  .pListItem{
    position: relative;
    cursor: pointer;
  }
  
  .List_content{
    width: 100%;
    height: 100%;
  }

  .pListImg{
    width: 100%;
    height: 70%;
    object-fit: cover;
    transition: transform 0.5s;
    user-select: none;
  }

  .List_content .pListImg:hover {
    transform: rotate(1.2deg) scale(1.1);
  }
  
  .pListTitles>h1{
    font-size: 18px;
    color: #444;
    text-transform: capitalize;
  }
  
  .pListTitles>h2{
    font-size: 14px;
    font-weight: 300;
  }

  @media (max-width: 768px) {
    .pList {
      padding: 0;
    }
    .wrapper {
      max-width: 100%;
      padding: 0;
    }
  }