.header {
    background-color: #003580;
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
  }
  
  .searchBox{
    display: flex;
    justify-content: center;
  }

  .headerContainer {
    width: 100%;
    max-width: 1180px;
    margin: 20px 0px 100px 0px;
  }
  
  .headerContainer.listMode {
    margin: 20px 0px 0px 0px;
    display: none;
  }
  
  .headerDesc {
    margin: 20px 0px;
  }
  
  .headerBtn {
    background-color: #0071c2;
    color: white;
    font-weight: 900;
    font-size: 16px;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 130px;
  }
  
  .headerSearch {
    height: 40px;
    background-color: white;
    border: 3px solid #8e8caa;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0px;
    border-radius: 5px;
    position: absolute;
    max-width: 1158px;
    width: 100%;
  }
  
  .headerIcon {
    color: lightgray;
  }
  
  .headerSearchItem {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .headerSearchItem svg{
    font-size: 2.4rem;
    color: #8888d3;
  }
  .headerSearchInput {
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: 600;
    color: #70706a;
  }
  
  .headerSearchText {
    color: #ba8f8f;
    cursor: pointer;
  }
  
  .date {
    position: absolute;
    top: 50px;
    z-index: 2;
  }
  
  .options {
    z-index: 2;
    position: absolute;
    top: 50px;
    background-color: white;
    color: gray;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  }
  
  .optionItem {
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
  }
  
  .optionCounter {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    color: black;
  }
  
  .optionCounterButton {
    width: 30px;
    height: 30px;
    border: 1px solid #0071c2;
    color: #0071c2;
    cursor: pointer;
    background-color: white;
  }
  
  .optionCounterButton:disabled {
    cursor: not-allowed;
  }



  /* ----------------------------------------------- */

  .homeHead{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
  }

  .homeHead .overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgb(47, 106, 107);
    top: 0;
    bottom: 0;
    z-index: 1;
    mix-blend-mode: hard-light;
  }

  .homeHead video{
    position: absolute;
    top: 0;
    bottom: 0;
    object-fit: cover;
  }

  .homeHead .homeContent{
    width: 100%;
    height: max-content;
    padding: 8rem 1rem 3rem;
    display: flex;
    row-gap: 3rem;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    margin: auto;
    z-index: 10;
  }

  .homeHead .textDiv{
    padding: 1.5rem 0;
  }

  .homeHead .smallText{
    text-transform: uppercase;
    font-size: 1.2rem;
  }
  .homeHead .homeTitle{
    position: relative;
    font-size: 3rem;
  }