.navbar{
    height: 62px;
    background-color: #003580;
    display: flex;
    justify-content: center;
    position: relative;
  }
  
  .navContainer{
    width: 100%;
    max-width: 90%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo{
    font-weight: 500;
  }
  
  
  .headerListItem.active {
    border: 1px solid white;
    padding: 10px;
    border-radius: 20px;
    font-weight: 900;
  }
  .headerListItem svg {
    font-size: 1.2rem;
    color: #a8a8df;
  }
  
  
  .navButton{
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: #003580;
  }

  .navButton a{
    text-decoration: none;
  }

  @media screen and (max-width:1200px){
    .navContainer{ 
      width: 90%;
    }
  }